.item {
    margin: 1%;
    height: 100%;
    border: 1px solid #ccc!important;
    border-radius: 1%;
    width: 300px;
    display: flex;
    border-radius: 5px;
    direction: rtl;
}

.item-image {
    padding: 5px 0px 5px 0px; 
    float: right;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
    max-height: 70px;
}

.item-details {
    width: 400px;
    max-width: 400px;
    max-height: 100%;
    float: left;
}

.x {
    top: 32px;
    width: 40px;
    height: 32px;
    opacity: 0.3;
    float: left;
}

.item-details-image {
    max-height: 100px;
}